<main class="indexPage">
    <h1>The Bad Guys</h1>
<a href="/villains/newVillains">Create a new Villain</a>

    {{#each villains }} 
    <div class="index-container">
        <a href="/villains/{{ id }}">
        <img class="indexImg" src="{{ img }}"/>

        </a>

		<h3><a href="/villains/{{ id }}">{{ name }}</a></h3>

    </div>

    {{/each}}


</main>