<main class="homebackground">

    <div class="leftImg"><a href="/students"><img class="Himg" src="https://i.imgur.com/qBDrEaD.jpg"><h2 class="heading">Students</h2></a></div>
    <div class="centerImg"><a href="/heroes"><img class="Himg" src="https://i.imgur.com/Zk84uUR.jpg"><h2 class="heading">Heroes</h2></a></div>
    <div class="rightImg"><a href="/villains"><img class="Himg" src="https://i.imgur.com/cdRK6i1.png"><h2 class="heading">Villains</h2></a></div>

    {{!-- <div class="homeimg">
    <img src="{{ foundStudent.img }}"/>

    <a href="/student">Students</a>
</div>

<div class="homeimg">
    <img src="{{ foundHero.img }}"/>

    <a href="/hero">Heroes</a>
</div>

<div class="homeimg">
    <img src="{{ foundVillain.img }}"/>

    <a href="/villain">villains></a>
</div> --}}




</main>