<main>

{{!-- <div class="student">
    <img src="{{ Students.img }}"/>

    <a href="/student">Students</a>
</div>

<div class="hero">
    <img src="{{ hero.img }}"/>

    <a href="/hero">Heroes</a>
</div>

<div class="villain">
    <img src="{{ villains.img }}"/>

    <a href="/villain">villains></a>
</div> --}}




</main>