/* start of Home style */
.homebackground {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.leftImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 33.3%;
    height: 900px;
    background-color: black;
}
.centerImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   width: 33.3%;
   height: 900px;
    background-color: black;
}
.rightImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 33.3%;
    height: 900px;
    background-color: black;
}

.Himg{
    width: 100%;
    height: 900px;
    border: 1px solid black;
    margin: 0;
}

.leftImg a:hover{
    color: #000000;
    opacity: .7;
}
.centerImg a:hover{
    color: #000000;
    opacity: .7;
}
.rightImg a:hover{
    color: #000000;
    opacity: .7;
}

.heading{
    font-family:'Bangers';
    text-transform: uppercase;
    letter-spacing: 4px;
    top: 55%;
    width: 35%;
    font-size: 42px;
    position: absolute;
    color: yellow;
    text-align: center;
    
    
}
.heading:hover{
    color: crimson;
}
body{
    background-color: #131339;
    
}
/* End of home style */
/* Start of Nav Style */
.navbar{
    background-color: #000000!important;
    opacity: .6 !important;
}

.navbar .navbar-brand{
    color: #ffffff;
    font-family: 'Bangers';
    font-size: 24px;
    letter-spacing: 3px;
}
.navbar .navbar-brand img{
    width: 153px;
    height: 56px;
}



.navbar .navbar-nav a{
    color: yellow !important;
    font-size: 18px;
    font-family: 'Bangers';
    letter-spacing: 3px;
    padding-right: 20px !important;
    
    
}
.navbar .navbar-nav a:hover{
    color: crimson !important;
    
}
/* End of Nav bar style */
/* Start of index Style */
.indexPage{
    background-color: #eeeeee;
}
.indextitle{
    display: grid;
    grid-template-columns:repeat(1,1hr);
    grid-template-rows: repeat(1, 1hr);
    text-align: center;
    padding: 30px;

    
}

.indextitle h1{
    font-family: 'Bangers';
    letter-spacing: 4px;
    font-size: 40px;
}

.indextitle a{
    font-family: 'Asap' 700;
    letter-spacing: 3px;
    font-size: 32;
    text-decoration: none;
    color:crimson;

}
.indextitle a:hover{
    color: yellow;
}


.indextitle h1 {
    float: left;

}

.indextitle a {
    padding-right: 40px;
    float: right;
}
.columns {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 8px;
    text-align: center;
    
    
    
}
.indexPage h3 a {
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Asap';
    
}

.indexPage h3 a:hover{
    color: crimson;
}


.indexImg{
    width: 150px;
    height: 150px;
    margin:  auto 5px;
    
    border:solid 3px #ffffff;
}

/* end of index style */
/* start of show Style */


.show-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}


.img-show{
    display: inherit;
    grid-column: 1 / 2;
    justify-content: center;
    text-align: center;
    margin: 70px;
    
}


.show-text { 
    
    grid-column: 2 / 2;
    background-color: #000000;
    width: 300px;
    height: 100%;
    opacity: .7;
    text-align: center;
}

.show-text .red h2{
    display: inline-block;
    grid-column: 2;
    font-family: 'Bangers';
    color: #ffffff;
    letter-spacing: 1px;
    background-color: crimson;
    margin-top: 20px;
    width: 220px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;

    
} 

.show-text .white{
    font-family: 'Bangers';
    color: #ffffff;
}

.show-text p {
    font-family: 'Asap';
    color: #dddddd;

}

.create{
    font-size: 48;
    color: yellow;
    font-family: 'Bangers';


}

.create:hover{
    color: crimson;
}

.delete{
    background-color: red;
    font-family: 'Bangers';
    color: #ffffff;
}

/* end of the show style */

/* start of form style */
.createCharacter{
    text-align: center;
}


.createCharacter h2{
    font-family: 'Bangers';
    color: #ffffff;
    background-color: crimson;
}


