body{
    background-color: #47476b;
    
}
.indexPage{
    background-color: #eeeeee;
}
/* */
.navbar{
    background-color: #52527a !important;
}

.navbar .navbar-brand{
    color: #ffffff;
    font-family: 'Bangers';
    font-size: 24px;
    letter-spacing: 3px;
}
.navbar .navbar-brand:hover{
    color:#ffff00;
}
.navbar .navbar-nav a{
    color: #ffffff !important;
    font-family: 'Asap';
    letter-spacing: 3px;
    padding-right: 20px;
}
.navbar .navbar-nav a:hover{
    color: #ffff00 !important;
    
}
/* index title text */
.indextitle{
    display: grid;
    grid-template-columns:repeat(1,1hr);
    grid-template-rows: repeat(1, 1hr);
    text-align: center;
    padding: 30px;

    
}

.indextitle h1{
    font-family: 'Bangers';
    letter-spacing: 4px;
    font-size: 40px;
}

.indextitle a{
    font-family: 'Asap';
    letter-spacing: 3px;
    font-size: 32;
    text-decoration: none;
    color: cornflowerblue;

}
.indextitle a:hover{
    color: crimson;
}


.indextitle h1 {
    float: left;

}

.indextitle a {
    padding-right: 40px;
    float: right;
}
/* end of indext title text */
.columns {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 1fr);
   grid-gap: 8px;
   text-align: center;

    
    
}

    


.indexPage h3 a {
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Asap';
    
}

.indexPage h3 a:hover{
    color: crimson;
}


.indexImg{
    width: 150px;
    height: 150px;
    margin:  auto 5px;

    border:solid 3px #ffffff;
}



