<main>
    <h1>The Future of the hero world</h1>

    {{#each students }} 
    <div class="student-container">
        <img src="{{ img }}"/>

		<h3><a href="{{ id }}">{{ name }}</a></h3>

    </div>

    {{/each}}


<a href="/students/newStudent">Create a new student</a>
</main>