<main class="createCharacter">
         <h2 class="red"><span class="highlight">Create a New Student</span></h2>
    <form class="white" action="/students" method="POST">
                <input type="text" name="name" placeholder="name"/><br><br>
			    <select class="delete" name="Gender">
                  <option value="unknown">Unknown</option>
                 <option value="Male">male</option>
                 <option value="Female">Female</option>
            </select><br><br>
                <input type="text" name="class" placeholder="class"/><br><br>
			    <input type="text" name="school" placeholder="school"/><br><br>
			    <input type="text" name="img" placeholder="img"/><br><br>
			    <input type="text" name="overview" placeholder="overview"/><br><br>
			    <input type="text" name="quirk" placeholder="quirk"/><br><br>
                <input type="text" name="quirkDescription" placeholder="quirk Description"/><br><br>
			    <input class="delete" type="submit" value="Add student"/><br><br>

    </form>
</main>